body {
  padding-top: 70px;
  font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif, Hervetica;
}
.gz .main.main-file {
  margin: auto 10px;
}
.gz .navbar .navbar-brand {
  font-weight: bold;
}
.gz .navbar .confidential {
  padding: 5px 10px;
  margin-top: 5px;
  border: solid 3px #f00 ;
  background: #fff;
  color: #f00;
  font-weight: bold;
}
.gz .panel {
  border-radius: 0;
}
.gz .drop-area-outer {
  width: 100%;
}
.gz .drop-area {
  padding: 70px 40px;
  border-radius: 0;
  border-left: solid 4px #999;
  text-align: center;
}
.gz .drop-area.hover {
  background: #888;
  color: #fff;
  border-left: solid 4px #000;
}
.gz .preview .img-thumbnail {
  max-height: 200px;
  margin-left: 5px;
}
